body {
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
p {
  line-height: 2;
}
.home {
  position: sticky;
  top: 0;
  z-index: 9998;
}
.home .nothome {
  display: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
