.footer {
  margin: 15rem 0 5rem;
  font-size: 1rem;

  .footer__list {
    display: grid;
    margin: 2rem 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    .footer__list__item {
      margin: 0 2rem 0 0;

      .footer__list__link {
        color: var(--white);
        font-size: 1.125rem;
      }
    }
  }

  span {
    color: #788491;
  }
}