.footer {
  margin: 5rem 0;
  font-size: 1rem;

  .footer__list {
   display: flex;
    margin-bottom: 1rem;

    .footer__list__item {
      margin: 0 2rem 0 0;

      .footer__list__link {
        color: var(--white);
        font-size: 1.125rem;
      }
    }
  }

  span {
    color: #788491;
  }
}