.layout {
  animation: hello ease-out 0.3s;
  width: 100%;
  padding-block-start: 0;
  padding-block-end: 0;
  margin: 0 auto;
  &.home {
    padding: 5rem 0;
    background-image: url('/static/background.webp');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
  }
}

@keyframes hello {
  0% {
    opacity: 0;
    transform: translateY(3px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}