.header {
    background: none;
    padding: 1rem 3rem;

    .header__list {
        display: flex;
        margin-left: auto;

        .header__item {
            .header__link {
                display: block;
            }
        }
    }

    .header__dropdown {
        display: block;
        padding: 7rem 5rem;
    }

    &__floppy {
        display: block;
        margin-left: auto;
        position: relative;
        top: 0;
        right: 0;
    }
}

.hero {
    padding-top: 0;

    &.about h1 {
        font-size: 4rem;
    }
}

.back-home {
    display: block !important;
}

.about {
    &__boston {
        display: flex;
        align-items: center;

        img {
            display: flex;
            margin-left: 1rem;
        }
    }
}

.reviews {
    &__select {
        margin-left: auto;
    }
}
