.header {
    background: none;
    padding: 1rem 3rem;
}

.hero {
    padding-top: 0;
}

.back-home {
    display: block !important;
}

.about {
    &__boston {
        display: flex;
        align-items: center;

        img {
            display: flex;
            margin-left: 1rem;
        }
    }
}
