.header {
  background: none;
  padding: 1rem 3rem;

  .header__list {
    display: flex;
    margin-left: auto;

    .header__item {
      .header__link {
        display: block;
      }
    }
  }

  &__dropdown {
    display: block;
    padding: 7rem 5rem 0;
    max-width: 600px;

    &__open {
      overflow-x: hidden;
    }
  }

  &__floppy {
    display: block;
    margin-left: auto;
    position: relative;
    top: 0;
    right: 0;
  }
}

.hero {
  padding-top: 3rem;

  &.about h1 {
    font-size: 4rem;
  }
}

.back-home {
  display: block !important;
}

.about {
  &__boston {
    display: flex;
    align-items: center;

    img {
      display: flex;
      margin-left: 1rem;
    }
  }
}

.owen {
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: 0;
}

.footer {
  .footer__list {
    display: flex;
  }
}
