@font-face {
  font-family: "Germanica";
  src: url('~/public/fonts/Germanica.ttf');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--white);
  background: var(--black);
}

a {
  border-bottom: 1px solid var(--link);
  text-decoration: none;
  padding-bottom: 1px;
  max-width: fit-content;
  color: #2997ff;

  &:hover {
    border-bottom: 1px dashed var(--link);
    text-decoration: none !important;
    color: #788491;
    text-decoration: underline;
    opacity: .75;
  }

  &:link[href^="https://"]:after {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1;
    margin-left: 0.25rem;
    content: "↗";
    vertical-align: text-top;
    opacity: 0.5;
  }
}

h3 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  margin-bottom: 1rem !important;
}

.header {
  display: flex;
  position: sticky;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 9999;

  .header__logo {
    display: flex;
    float: left;

    a {
      border-bottom: 0;

      &:hover {
        opacity: 1;
      }

      img {
        max-width: 4rem;
      }
    }
  }

  .back-home {
    display: none;
    background: var(--back);
    border-radius: 50rem;
    vertical-align: middle;
    margin-left: 2rem;
    color: var(--white);
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    max-width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-bottom: 0;

    &:hover {
      background: var(--back-hover);
      text-decoration: none;
    }
  }

  .header__list {
    display: flex;
    margin-left: auto;

    .header__item {
      .header__link {
        display: none;
        color: var(--link);
        font-weight: 500;
        font-size: 1rem;
        margin-left: 1.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        border-bottom: 0;
        mix-blend-mode: exclusion;

        &:hover {
          color: var(--white);
          text-decoration: none;
        }

        &.active,
        &.active:hover {
          color: var(--white);
          opacity: 1;
        }
      }

      .header__button {
        display: block;
        color: var(--link);
        font-weight: 500;
        font-size: 1rem;
        margin-left: 1.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        border-bottom: 0;
        mix-blend-mode: exclusion;

        &:hover,
        &.active {
          color: var(--white);
          text-decoration: none;
        }
      }
    }
  }

  &__dropdown {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: saturate(180%) blur(5px);
    background: #101010;
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
    padding: 8rem 1rem;
    overflow-x: auto;
    transform: translateX(100%);

    ul {
      margin-left: auto;
      margin-bottom: 3rem;

      li {
        margin-bottom: 1rem;

        a {
          display: block;
          color: var(--white);
          font-size: 2rem;
          font-weight: 700;

          &:hover {
            color: var(--);
          }
        }
      }

      &.header__dropdown__social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 0;

        li {
          a {
            font-size: 1.125rem;
            font-weight: 500;
          }
        }
      }
    }

    &__closed {
      transform: translateX(100%) !important;
    }

    &__open {
      transform: translateX(0) !important;
    }
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &:hover {
      cursor: pointer;
    }
  }

  .backdrop__open {
    opacity: 1;
    visibility: visible;
  }
}


.hero {
  padding-top: 3rem;

  &.about {
    margin-top: 0 !important;

    h1 {
      font-size: 3rem;
      font-weight: 900;
    }
  }

  h1 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: .25rem;

    .line {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4' viewBox='0 0 16 4'%3E%3Cpath d='M0,3.5c4,0,4-3,8-3s4,3,8,3' fill='none' stroke='%23ff6204' opacity='1' stroke-miterlimit='20'/%3E%3C/svg%3E");
      background-repeat: repeat-x;
      background-repeat-y: no-repeat;
      background-position: 0px 100%;
      transition: 0.2s;
      background-size: 16px 4px;
      animation: fancy-line 0.4s linear infinite;
      padding: 0 0 0.5rem;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  margin-left: .5rem;
}

.portfolio {
  margin-top: 5rem;

  .portfolio__list {
    li {
      padding-left: 18px;
      line-height: 1.8;
      font-size: 1.125rem;

      a {
        border-bottom: 1px solid var(--link);

        &:hover {
          border-bottom: 1px dashed var(--link);
        }
      }

      &:before {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        background: rgba(242, 241, 239, 0.2);
        transform: translate(-18px, 14px);
      }
    }
  }

  &__desc {
    color: #788491;
    margin-right: 1rem;
  }
}

.about {
  margin-top: 5rem;
  font-size: 1.125rem;

  &__boston {
    img {
      display: none;
    }
  }

  p {
    margin: 0;
  }

  a {
    display: block;
    margin-top: 2rem;
  }
}

.social {
  margin-top: 5rem;
  font-size: 1.125rem;
  line-height: 2;

  span {
    display: inline-block;
    margin: 0 0.5rem 0 0;
  }
}

.reviews {
  p {
    margin: 1rem 0;
    font-size: 1.125rem;
  }

  &__number {
    font-family: monospace;
    margin: 0 .5rem;
    font-weight: 600;
  }

  &__credit {
    color: var(--link);
    font-style: italic;
    margin-left: 1rem;
  }

  table {
    display: grid;
    margin-top: 1rem;
    width: 100%;

    th {
      font-weight: 600;
      opacity: .5;
      text-align: left;
      padding: 0 1rem 0 0;
      border-bottom: 1px solid rgba(242, 241, 239, 0.2);
      padding: .5rem 0;

      &:nth-child(2) {
        text-align: right;
      }
    }

    tr {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr;
    }

    td {
      font-size: 1.125rem;
      padding: 1rem 0;
      border-bottom: 1px solid rgba(242, 241, 239, 0.2);
      overflow: hidden;
      white-space: nowrap;

      &:nth-child(2) {
        text-align: right;
        font-family: monospace;
        font-weight: 600;
        display: flex;
        justify-content: flex-end;

        span {
          color: yellow;
        }

        img {
          margin-right: 1rem;
        }
      }
    }

    @media (max-width: 768px) {

      th,
      td {
        padding: .5rem;
        font-size: 1rem;
      }

      td:nth-child(2) {
        img {
          margin-right: .5rem;
        }
      }
    }

    @media (max-width: 480px) {

      th,
      td {
        font-size: .875rem;
      }
    }
  }

  &__select {
    display: flex;
    border: 1px solid rgba(242, 241, 239, 0.2);
    background: var(--black);
    outline: 0;
    padding: 1rem 2rem;
    border-radius: 50rem;
    position: relative;

    &:hover {
      border-color: var(--link);
      cursor: pointer;
      transition: 0.2s;
    }

    @media (max-width: 768px) {
      padding: .5rem 1rem;
    }
  }
}


.footer {
  margin: 15rem 0 5rem;
  font-size: 1rem;

  .footer__list {
    display: flex;
    margin: 2rem 0;

    .footer__list__item {
      margin: 0 2rem 0 0;

      .footer__list__link {
        color: var(--white);
        font-size: 1.125rem;
      }
    }
  }

  span {
    color: #788491;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

@keyframes fancy-line {
  from {
    background-position: 0px 100%;
  }

  to {
    background-position: 16px 100%;
  }
}

.owen {
  font-family: 'Germanica', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 500;
  line-height: 1;
}
